<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.davinci.shop.sys.user.mapper.SysUserMapper">
    <sql id="column">
        t.id id,
        t.account account,
        t.passwd passwd
    </sql>
    <select id="getUserByAccount" parameterType="java.lang.String" resultType="com.davinci.shop.sys.user.model.SysUser">
        select
        <include refid="column"/>
         from sys_account t
        where t.account= #{account}
        <!--<trim prefix="WHERE" prefixOverrides="AND |OR ">-->
            <!--<if test="id != null and id != ''">-->
                <!--AND t.id = #{id}-->
            <!--</if>-->
            <!--<if test="account != null and account != ''">-->
                <!--AND t.account = #{account}-->
            <!--</if>-->
            <!--<if test="passwd != null and passwd != ''">-->
                <!--AND t.passwd = #{passwd}-->
            <!--</if>-->
        <!--</trim>-->
    </select>
</mapper>